<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Domain Redirect</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'all.min.css' %}"/>
</head>
<body>
    <section class="hero is-info is-small">
        <div class="hero-body">
            <p class="title">
                <span class="icon-text">
                    <span class="icon">
                      <i class="fa-solid fa-route"></i>
                    </span>
                    <span>&nbsp;Root Domain Redirect</span>
                </span>
            </p>
        </div>
    </section>
    <section class="section">
        {% block content %} {% endblock %}
    </section>
</body>
</html>